<div>
    <h1 class="textTitle">BIENVENIDOS AL BLOG DE FARMER SLAYER</h1>

    <img src="assets/image1.png" class="imageCover">
    <h5 class="textCover">¿Qué es Farmer Slayer?</h5>
    <h5 class="textCover">Farmer Slayer es un juego tower defence FPS en 3D desarrolado por Christian Lobón y David Palacios</h5>
    <h5 class="textCover">El juego consiste en defender tu granja de los enemigos que intentan matar a tus vacas</h5>
    <img src="assets/image2.png" class="imageCover">
    <h5 class="textCover">Tendras a tu disposición un arma y unas torretas desbloqueables para enfrentarte a las oleadas de enemigos</h5>
    <img src="assets/image3.png" class="imageCoverSmall">
    <img src="assets/image4.png" class="imageCoverSmall">
    <br>
    <div class="center">
    <a class="face-button" href="#">

        <div class="face-primary">
          <span class="icon fa fa-cloud"></span>
          Descarga Aquí
        </div>
        
        <div class="face-secondary">
          <span class="icon fa fa-hdd-o"></span>
          Drive
        </div>
      
      </a>
    </div>
</div>
        