.twitter-icon {
  color: #55acee;
}

.instagram-icon {
  color: #e1306c;
}


.github-icon {
  color: #333;
}

fa-icon {
  font-size: 2em;
}

.author-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: auto;
}

a {
  text-decoration: none;
}
