mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color:#95a94e  !important;
}

.user-avatar {
  margin: 0;
  width: 3%;
  height: 70%;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.github-icon {
  font-size: large;
}
